<?xml version="1.0" ?>
<Base KideAppURL="KideApp_https-osoite_tähän">
	<The_amount_of_>
		<a SimultaneousBots="3"/>
		<b DifferentTicketTypesToBeSearched="2"/>
		<c Tickets="4"/>
	</The_amount_of_>
	<Credentials>
		<Username Email="sähköpostisi"/>
		<Password Password="salasanasi"/>
	</Credentials>
</Base>
